.form{
    text-align: center;
    background-color:paleturquoise;
    width: 100%;
    
    border:5px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}




button{
    width: 10%;
    height: 30%;
    padding: 5px;
    background-color: #ff0011;
    border:5px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

}
